.tab-content {
  display: none;
}

.active {
  display: block;
}


@font-face {
  font-family: "FT88-Regular";
  src: url("type/FT-88/fonts/webfonts/FT88-Regular.woff2") format("woff2"),
    url("type/FT-88/fonts/webfonts/FT88-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FT88-Gothique";
  src: url("type/FT-88/fonts/webfonts/FT88-Gothique.woff2") format("woff2"),
    url("type/FT-88/fonts/webfonts/FT88-Gothique.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p,
h1,
h2,
h6 {
  font-family: "input-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "input-sans-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8rem;
}

h5 {
  font-family: "FT88-Regular", sans-serif;
  font-size: 1rem;
}

h4 {
  font-family: "FT88-Gothique", sans-serif;
  font-size: 1rem;
}

/* ----- UI ----- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#generate-pdf {
  position: fixed;
  bottom: 20px;
  right: 6.25rem;
  font-size: 24px;
  background-color: #f44336;
  color: white;
  border: none;
  /* padding: 15px; */
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.5s;
  overflow: hidden;
  z-index: 5000;
}

#generate-pdf:hover {
  transform: rotate(360deg);
  border-radius: 1rem;
}

#generate-pdf .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

#generate-pdf:hover .hover-text {
  opacity: 1;
}

#generate-pdf .counter {
  position: relative;
  z-index: 1;
}

#generate-pdf:hover .counter {
  opacity: 0;
}


/* ----- BODY ----- */

/* running stroke */
.marquee-container{
    display: flex;
    height: 37.5rem;
    align-items: center;
    overflow: hidden;
}

.marquee{
  font-family: "FT88-Regular", sans-serif;
  font-size: 36rem;
  flex-grow: 1;
  white-space: nowrap;
  animation: marquee 15s infinite linear; 
}

.marquee:after{
  content: " ≤ working_title // dates to be announced soon // ";
}

@keyframes marquee{
  0% {
      transform: translateX(100)
  }
  100% {
      transform: translateX(-50%)
  }
}

/* search engine */
#buttons-container {
  display: flex;
  justify-content: space-around; 
  padding: 1rem;
  position: sticky;
  z-index: 3000; 
  transition: transform 0.3s, opacity 0.3s;
}

button {
  font-family: "FT88-Gothique", sans-serif;
  font-size: inherit;
  background-color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  flex-grow: 1; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: black; 
  color: white;
}

button:active {
  background-color: black;
  color: #fff;
}


.film-card {
  padding-inline: 20px;
  background-color: #f8f8f8;
  border-radius: 2rem 2rem 1rem 1rem;
  border: 1px solid black;
  position: relative;
  margin-bottom: -785px;
  font-kerning: normal;
  z-index: 0;
  cursor: pointer;
  transition:  
    background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0.5rem 1rem 0.75rem rgba(0, 0, 0, 0.12);
}

.film-card .film-content *:not(.film-gif) {
  padding: 2rem;
}

.film-card-header {
  position: relative; 
}

.watch-button {
  position: absolute; 
  top: 50%; 
  right: 0; 
  transform: translateY(-50%); 
  
  width: 15rem; 
  height: 4rem; 
  line-height: 1.85rem;

  background-color: transparent; 
  border: none;
  color: silver;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "input-sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.4s; 
}

.watch-button:hover {
  background-color: transparent;
  color:#000000
}


.film-card.active {
  transform: translateY(-220px), scale(1.05);
  transition: 
  transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
  scale 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 2;
}

.film-card:hover {
  background-color: rgba(255, 255, 255);
  transform: translateY(-20px);
  box-shadow: 0 0.5rem 1rem 0.75rem rgba(0, 0, 0, 0.3);
  transition: 
  background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
  transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
  box-shadow 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.film-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: height 0.4s ease;
  border-radius: 0 0 1rem 1rem;
  margin-block: 1rem;
}

.film-card img:hover {
  transform: scale(1.005);
  transition: scale 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0.5rem 1rem 0.75rem rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height 0.4s ease;
}

.card-columns {
  display: flex;
  justify-content: space-around ;
  padding-inline: 0.5rem;
}

.film-info {
  flex: 1;
  padding-right: 10px;
  margin-right: 10px;
}

.description,
.details {
  flex: 2;
  padding: 0 10px;
}

.film-description {
  font-family: "input-sans", sans-serif;
  height: 6rem;
  overflow: auto;
  transition: height 0.4s ease;
}


/* ----- FOOTER ----- */

footer{
  padding-top: 6rem;
}